.divFormat{
    border-radius: 2px;
    border-color: black;
    font: 12pt Arial;
    color:rgb(9, 85, 23);
    border-width: 2px;
    width: 350px;
    height: 450px;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
} 
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgb(174, 165, 165);
    
  }
  
  .borda{
    border-width: 10px;
    border-style: solid; 
    border-color:  rgb(9, 85, 23); 
  }
