.divFormat{
  border-radius: 2px;
  font: 12pt Arial;
  color:  rgb(38, 29, 176); 
  border-color: white;
  border-width: 2px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
} 
.borda{
  border-width: 10px;
  border-style: solid; 
  border-color:   rgb(29, 110, 176); 
}
.txt{
  color: black;
  align-items: center;
}